// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.token-input-list-facebook {
  display:inline-block;
}

.css-tags a {
  padding-right: 10px;
  display: inline-block;
}

.css-tags .close {
  float:none;
  margin-left: -8px;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.1em; }
.css3 { font-size: 1.2em; }
.css4 { font-size: 1.4em; }

